:root {
  --navbar-height: 120px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: hsl(0, 0%, 15%);
}

::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 7%);
}

@-webkit-keyframes slideHeaderDown {
  0% {
    -webkit-transform: translateY(-900px);
            transform: translateY(-900px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideHeaderDown {
  0% {
    -webkit-transform: translateY(-900px);
            transform: translateY(-900px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  background-color: #000000;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 16px;
}

section {
  border-top: 2px solid rgba(83, 83, 83, 0.315);
  padding-top: 40px;
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  color: white;
}

h3 {
  margin-top: 0;
}

section:nth-child(odd) {
  background-color: #0a0a0a;
}

.GT {
  color: #b3a369;
  border-color: #b3a369;
}

.button {
  width: 150px;
  font-size: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  background-color: #0000002a;
  border: 2px solid #949494;
  -webkit-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
  color: #b1b1b1;
  
}

.button:hover {
  -webkit-box-shadow: 0 0 10px 0 #797878 inset, 0 0 20px 2px #2c2c2c;
          box-shadow: 0 0 10px 0 #797878 inset, 0 0 20px 2px #2c2c2c;
  border: 2px solid #f1f1f1;
  color: #f1f1f1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* NAVIGATION BAR */
.navbar {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  min-height: var(--navbar-height);
  overflow: hidden;
}

.navbar ul {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style-type: none;
  clear: both;
}

.navbar ul li {
  margin-right: 60px;
  display: inline-block;
  -webkit-animation: slideHeaderDown 1s ease 0s 1 backwards;
  animation: slideHeaderDown 1s ease 0s 1 backwards;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar .mobile-menu-icon {
	display: none;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
  margin-bottom: 4%;
	cursor: pointer;
}

.navbar .mobile-menu-icon .bar {
	width: 30px;
	height: 3px;
	background: #949494;
	transition: transform 0.4s;
}

.navbar .mobile-menu-icon:hover .bar {
	background: white;
}

.navbar .mobile-menu-icon.active {
	position: relative;
	right: 4px;
}

.navbar .mobile-menu-icon .bar:nth-child(2) {
	margin: 5px 0;
}

.navbar .mobile-menu-icon.active .bar:nth-child(1) {
	transform: rotate(-45deg) translate(0, 10px);
}

.navbar .mobile-menu-icon.active .bar:nth-child(2) {
	display: none;
}

.navbar .mobile-menu-icon.active .bar:nth-child(3) {
	transform: rotate(45deg) translate(8px, -2px);
}

.navbar ul.active {
  display: block;
}


@media screen and (max-width: 1135px) {
  .navbar {
    min-height: 100%;
  }

  .navbar .button {
    display: block;
    width: 100%;
    margin-right: 0;
    text-align: center;
    height: 100%;
    padding: 0;
  }

  .navbar ul {
    display: none;
    position: relative;
    top: 0;
    /* left: -100%; */
    width: 100%;
    text-align: center;
    transition: left 0.4s;
    padding: 0;
  }

  .navbar ul li {
    display: block;
    height: 60px; /*20%; /* use 20% for more centered but more space */
    line-height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
  }

  .navbar ul li:last-child {
    margin-right: auto;
  }

  .navbar .mobile-menu-icon {
    display: block;
  }
}



/* HOME PAGE CONTENT */
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


#main-content #backgroundVideo {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(35%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  border-bottom: 2px solid white;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  border: none;
}

#main-content.active {
  position: relative;
}

#main-content .container {
  background: none;
  max-width: 100%;
  margin-top: 0;
  padding: 0;
  animation: none;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#main-content h1 {
  font-size: 7em;
  color: #e0e0e0;
}

#main-content p {
  font-size: 4em;
  color: #b4b4b4;
}

#main-content p span {
  display: block;
  font-size: 0.8em;
}

#resumeBtn {
  margin-top: 0.8em;
}

@media screen and (max-width: 1135px) {
  #main-content h1 {
    font-size: 5em;
  }

  #main-content p {
    font-size: 3em;
  }
}

@media screen and (max-width: 754px) {
  #main-content h1 {
    font-size: 3em;
  }

  #main-content p {
    font-size: 2em;
  }
}

/* ABOUT ME SECTION */
@-webkit-keyframes containerPulse {
  0% {
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 0 2px 0 #ffffff inset, 0 0 2px 2px #ffffff;
            box-shadow: 0 0 2px 0 #ffffff inset, 0 0 2px 2px #ffffff;
  }
  100% {
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 0 5px 0 #ffffff inset, 0 0 5px 5px #ffffff;
            box-shadow: 0 0 5px 0 #ffffff inset, 0 0 5px 5px #ffffff;
  }
}
@keyframes containerPulse {
  0% {
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 0 2px 0 #ffffff inset, 0 0 2px 2px #ffffff;
            box-shadow: 0 0 2px 0 #ffffff inset, 0 0 2px 2px #ffffff;
  }
  100% {
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0 0 5px 0 #ffffff inset, 0 0 5px 5px #ffffff;
            box-shadow: 0 0 5px 0 #ffffff inset, 0 0 5px 5px #ffffff;
  }
}

.container {
  background-color: rgba(49, 49, 49, 0.5);
  color: #ffffff;
  max-width: 60em;
  margin-top: 25px;
  padding: 30px 20px;
  -webkit-animation-name: containerPulse;
          animation-name: containerPulse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#about p {
  word-spacing: 2px;
  color: white;
  text-align: left;
  font-size: 26px;
  margin-bottom: 30px;
}

#about p:last-child {
  margin-bottom: 0;
}

/* EXPERIENCE SECTION */
#experience h2 {
  font-weight: bold;
}

#experience h3 span {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
  margin-top: 10px;
}

#experience h3 #date {
  font-size: 0.6em;
}

#experience ul {
  margin: 0;
}

#experience ul li {
  margin-bottom: 10px;
}

#experience ul li:last-child {
  margin-bottom: 0;
}

/* EDUCATION SECTION */
#education {
  letter-spacing: 0.5px;
}

#education h2 {
  font-weight: bold;
}

#education header {
  overflow: hidden;
}

#education h3 {
  float: left;
  width: 50%;
  text-align: left;
}

#education .list-title {
  clear: both;
  margin-top: 30px;
  display: block;
}

#education .gpa {
  margin-top: 30px;
  display: block;
}

#education h3 span {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
  margin-top: 10px;
}

#education .date {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 1.2em;
}

#education ul {
  margin: 0;
}

#education ul li {
  margin-bottom: 10px;
}

#education ul li:last-child {
  margin-bottom: 0;
}

#education .entry {
  margin-top: 40px;
}

#education .entry:first-child {
  margin-top: 0;
}

/* PORTFOLIO SECTION */
#portfolio {
  color: #ffffff;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2em;
  letter-spacing: 1px;
}

#portfolio .project {
  clear: both;
  overflow: hidden;
  margin-bottom: 60px;
}

#portfolio .project:last-child {
  margin-bottom: 0;
}

#portfolio .project header {
  float: left;
  width: 30%;
}

#portfolio .project ul {
  float: left;
  width: 70%;
  padding-left: 50px;
  margin-top: 40px;
}

#portfolio .project h3 {
  text-align: center;
  font-weight: bold;
}

#portfolio .project h3,
#portfolio .project img {
  margin-left: 8px;
}

#portfolio .project img {
  width: 100%;
  -webkit-animation-name: containerPulse;
          animation-name: containerPulse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#portfolio .project ul li {
  margin-bottom: 30px;
}

@media screen and (max-width: 1135px) {
  #portfolio {
    padding-left: 0;
    padding-right: 0;
  }

  #portfolio .project header {
    width: 95%;
    float: none;
    margin: 0 auto;
  }
  
  #portfolio .project ul {
    width: 100%;
    float: none;
  }
  
  #portfolio .project h3,
  #portfolio .project img {
    margin-left: 0;
  }
}

/* CONTACT SECTION */
#contact {
  margin-top: 0em;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 1px;
}

#contact h2 {
  margin-bottom: 50px;
}

#contact a {
  display: block;
  color: rgba(255, 255, 255, 0.815);
}

#contact .icons {
  margin-bottom: 20px;
}

#contact .icons a {
  display: inline-block;
}

#LinkedIn {
  border: 2px solid green;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #949494;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #b1b1b1;
  position: relative;
}

#LinkedIn:hover {
  -webkit-box-shadow: 0 0 10px 0 #797878 inset, 0 0 20px 2px #2c2c2c;
          box-shadow: 0 0 10px 0 #797878 inset, 0 0 20px 2px #2c2c2c;
  border: 2px solid #f1f1f1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#LinkedIn img {
  -webkit-filter: brightness(2.5);
          filter: brightness(2.5);
}

#Github {
  border: 2px solid green;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #949494;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #b1b1b1;
  position: relative;
  margin-left: 2em;
}

#Github:hover {
  -webkit-box-shadow: 0 0 10px 0 #797878 inset, 0 0 20px 2px #2c2c2c;
          box-shadow: 0 0 10px 0 #797878 inset, 0 0 20px 2px #2c2c2c;
  border: 2px solid #f1f1f1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Github img {
  -webkit-filter: brightness(7);
          filter: brightness(7);
}